.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}


.profile-container .profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
    background-image: linear-gradient(to bottom, rgba(74, 106, 188, 1), rgba(49, 58, 124, 0.6));
    padding-bottom: 192px;
}

.profile-container .profile .profile-picture {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container .profile .profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 92px 4px;
}

.profile-container .profile .profile-info .profile-name {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.profile-container .profile .profile-info .profile-name p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 0.8em rgba(0, 0, 0, 1), 0 0 0.2em rgba(0, 0, 0, 0);
}

.profile-container .profile .profile-info .profile-name span {
    font-size: 1.3rem;
    color: var(--lighter-text);
    letter-spacing: 2px;
    opacity: 0.5;
    margin-left: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 0.8em rgba(0, 0, 0, 0.7), 0 0 0.2em rgba(0, 0, 0, 0);
}

.profile-container .profile .profile-info .profile-email {
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--lighter-text);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0 0 1.5em rgba(0, 0, 0, 0.8), 0 0 0.2em rgba(0, 0, 0, 0);
}


.profile-container .profile-bio {
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--gray);
    opacity: 0.9;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 32px 4px;
    transition: 0.1s;
    cursor: grab;
}

.profile-container .profile-bio:hover {
    opacity: 1;
}


.profile-container .profile .profile-info .profile-bio>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profile-container .profile .profile-info .profile-bio svg {
    font-size: 20px;
    fill: var(--lighter-text);
}

.profile-container .profile .profile-info .profile-bio .profile-permission-level {
    font-size: 1rem;
    font-weight: 400;
    color: var(--green-hover);
    margin-bottom: 4px;
}

.profile-container .profile .profile-info .profile-bio .profile-permission-level .darker {
    color: var(--green);
}

.profile-container .profile .profile-info .profile-bio .created-at {
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue);
}

.profile-container .profile .profile-info .profile-bio .created-at .darker {
    color: var(--darker-blue);
}

.profile-container .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: var(--gray);
}

.profile-container .profile-bottom {
    width: 100%;
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -192px;
    background-image: linear-gradient(rgba(18, 18, 18, 0.5), rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 1));
}

.profile-container .profile-bottom .box-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    flex-wrap: wrap;
}

.profile-container .profile-bottom .box-wrapper .settings-wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    flex: 1 1 20%;
}

.profile-container .profile-bottom .box-wrapper .box {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px;
    background-color: var(--gray);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 24px 4px;
    transition: 0.1s;
}

.profile-container .profile-bottom .box-wrapper .box .box-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box#save,
.profile-container .profile-bottom .box-wrapper .box#password {
    width: 100%;
    min-width: 456px;
    min-height: 92px;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box h2 {
    font-size: 1.7rem;
    margin-bottom: 12px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.profile-container .profile-bottom .box-wrapper .box .user-info .data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    height: 52px;
    border-radius: 6px;
    background-color: var(--default-background);
}

.profile-container .profile-bottom .box-wrapper .box .user-info .vertical-divider {
    width: 1px;
    height: 100%;
    background-color: var(--divider-gray);
    opacity: 0.7;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input {
    display: flex;
    width: auto;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.1s;
    font-size: 1rem;
    color: var(--default-text);
    padding: 0 24px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input:-webkit-autofill,
.profile-container .profile-bottom .box-wrapper .box .user-info input:-webkit-autofill:hover,
.profile-container .profile-bottom .box-wrapper .box .user-info input:-webkit-autofill:focus,
.profile-container .profile-bottom .box-wrapper .box .user-info input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--default-background) inset !important;
    -webkit-text-fill-color: var(--default-text) !important;
}

.profile-container .profile-bottom .box-wrapper .box .user-info .tag {
    font-size: 34px;
    color: var(--lighter-text);
    opacity: 0.6;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box .user-info .email,
.profile-container .profile-bottom .box-wrapper .box .user-info .password {
    font-size: 24px;
    color: var(--lighter-text);
    opacity: 0.6;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-name-settings {
    display: flex;
    width: 100%;
    min-width: 124px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-tag-settings {
    display: flex;
    width: auto;
    min-width: 6px;
    padding-left: 16px;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-email-settings {
    display: flex;
    width: 100%;
    min-width: 124px;
}

.error {
    color: var(--red) !important;
}

.profile-container .profile-bottom .box-wrapper .box .user-info input.user-password-settings {
    display: flex;
    width: 100%;
    min-width: 124px;
}

.submit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: auto;
}

.settings-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--green);
    color: var(--default-background);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 12px;
}

.settings-submit-button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.settings-submit-button.disabled:hover {
    opacity: 0.4;
}

.settings-submit-button:hover {
    opacity: 1;
}

/* PROFILE CHANGE AVATAR */
.box .user-info .avatar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box .user-info .avatar-wrapper .avatar-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
}


.box .user-info .avatar-wrapper .avatar-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.box .user-info .avatar-wrapper .avatar-upload input[type=file] {
    display: none;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button,
.box .user-info .avatar-wrapper .avatar-preview .avatar-preview-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    width: 172px;
    height: 172px;
    background-color: var(--default-background);
    color: var(--lighter-text);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 12px;
    gap: 16px;
}

.box .user-info .avatar-wrapper .avatar-preview img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

.box .user-info .avatar-wrapper .avatar-preview .avatar-preview-image {
    cursor: default;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button p {
    opacity: 0.7;
    transition: 0.1s ease-in-out;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button:hover p {
    opacity: 1;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: var(--darker-blue);
    color: var(--lighter-text);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.9;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-button:hover .avatar-upload-icon {
    opacity: 1;
}

.box .user-info .avatar-wrapper .avatar-upload .avatar-upload-icon svg {
    font-size: 32px;
    color: var(--default-text);
}